<!doctype html>
<html>
  <head>
      {% block head %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/style.css">
          <link rel="shortcut icon" href="/static/assets/favicon.ico">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <meta charset="UTF-8">
          <script src="https://kit.fontawesome.com/b520bacf85.js"></script>
      {% endblock %}
  </head>
  <body style="margin: 0px; paddin: 0px; background-color: {%if session.theme == 'dark'%}#2c2f33{% endif %}">
      <nav class="navbar navbar-expand-lg navbar-{{ session.theme }}">
        <a class="navbar-brand" href="/">
        <img src="/static/assets/rose_logo.png" width="30" height="40" class="d-inline-block align-center" alt="">
        Rose</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/invite">{{ get_text("Invite") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">{{ get_text("Support") }}</a>
                </li>
                {% if session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link {%if session.current_page.startswith('dashboard')%}active {% endif %}" href="/dashboard">{{ get_text("Dashboard") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: #ad3b2a;">{{ get_text("Logout") }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">{{ get_text("Login") }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
      </nav>
    {% block content %}{% endblock %}
    {% block footer %}
        <footer class="navbar fixed-bottom" id="footer" style="pointer-events: none;">
                <div class="footer-copyright py-3">
                    <a class="pull-left" style="color: #c4c4c4; font-size: 11px;">Page by Style;<br>Special thanks to thinex, czekoladowo;</a>
                </div>
            <div style="display: flex; justify-content: center; pointer-events: auto;">
                <form action="http://localhost:5000/selector" method="POST">
                    <div class="selector">
                        <select class="custom-select {%if session.theme == 'dark'%}light{% else %}dark{% endif %}" name="theme" onchange="this.form.submit()">
                            <option value="light" {% if session.theme == "light" %} selected {% endif %}>☀️</option>
                            <option value="dark" {% if session.theme == "dark" %} selected {% endif %}>🌚</option>
                        </select>
                    </div>
                </form>
                <form action="http://localhost:5000/selector" method="POST">
                    <div class="selector">
                        <select class="custom-select {%if session.theme == 'dark'%}light{% else %}dark{% endif %}" name="lang" onchange="this.form.submit()">
                            <option value="eng" {% if session.lang == "eng" %} selected {% endif %}>🇬🇧</option>
                            <option value="pl" {% if session.lang == "pl" %} selected {% endif %}>🇵🇱</option>
                        </select>
                    </div>
                </form>
            </div>
        </footer>
    {% endblock %}
  </body>
</html>