{% extends "layout.html" %}

{% block content %}
    <div class="col align-items-start">
        {% for guild in managed_servers %}
            <div class="col">
                <a href="/dashboard/{{ guild['id'] }}" class="text-{% if session['theme'] == 'dark' %}light{% else %}dark{% endif %}" style="text-decoration: none;">
                <img src="{{ get_server_icon(guild) }}" class="rounded" style="width: 60px; height: auto;">
                    {{ guild.name }}</a><br>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}