{% extends "layout.html" %}

<!--{% block background %}-->
<!--    {% if session.theme == 'dark' %}-->
<!--        style="background: #343a40;"-->
<!--    {% else %}-->
<!--        {{ super() }}-->
<!--    {% endif %}-->
<!--style="background-image: url('static/assets/bg6.jpg') no-repeat cover;"-->
<!--{% endblock %}-->

{% block content %}

<div style="postion: absolute; text-align: center; margin-top: 2%;">
    <img src="/static/assets/rose_logo.png" width="90" height="120" class="d-inline-block align-center" alt=""><br>
    <a class="text-{% if session.theme == 'dark' %}light{% else %}dark{% endif %}">Rose</a>
</div>

<!--<div style="position: absolute; text-align: center; top: 40%; height: 60%; width: 100%; background-color: {% if session.theme == 'dark' %} #343a40 {% else %} #F8F9FA {% endif %};">-->
<!--</div>-->

{% endblock %}